@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --background: rgb(252, 252, 252);
    --marromEscuro: rgb(59, 29, 3);
    --blocos: rgb(145, 220, 219);
    --liks: rgb(145, 219, 178);
    --liksHover: rgb(145, 187, 219);
    --corDaBorda: rgb(145, 167, 219);
    --letras: rgb(0, 0, 0);
    --header:  rgb(118, 207, 219, 0.6);
    --p: rgb(109, 215, 247, 0.4);
    --h: rgb(159, 160, 220, 0.4);
}

body {
    background-color: var(--background);
    color: var(--letras);
}

header {
    background-color: var(--header);
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}

a {
    display: auto;
    background-color: var(--liks);
    border-radius: 50px;
    padding: 6px;
    margin: 5px;
    text-align: center;
    border: solid 2px;
    border-radius: auto;
    border-color: var(--corDaBorda);
    text-decoration: none;
    font-size: 165%;
}

a:hover {
    background-color: var(--liksHover);
}

img {
    width: 300px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: solid 2px;
    border-color: var(--corDaBorda);
}

section, article {
    padding: 10px;
}

h1, h2 {
    text-align: center;
    background-color: var(--h);
    padding: 3%;
    border-radius: 35px;
}

.infos {
    display: flex;
    grid-template-columns: repeat(3);
    gap: 10px;
    padding: 10px;
}

.colunas {
    background-color: var(--blocos);
    padding: auto;
    border-radius: 40px;
    text-align: center;
    height: 50%;
    width: 50%;
}

#principal img {
    border-radius: 70%;
    height: 20%;
    width: 20%;
    float: none;
}

.paginas1 img {
    border-radius: 1%;
    border: none;
    height: 35%;
    width: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.paginas img {
    height: 35%;
    width: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
}

p {
    background-color: var(--p);
    padding: 3%;
    border-radius: 35px;
    font-size: 125%;
    font-family: font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 250%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 180%;
}

#footer p, a, a:hover {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    border: none;
}

footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #f39c12;
    text-decoration: none;
    font-weight: bold;
}